<div class="container">
  <h3 class="page-headline"><%= @user.first_name %>'s Collections</h3>
  

  <ul id="collection_list">
    <% unless @collections.nil? %>
      <% @collections.each do |collection| %>

        <li><h3><%= collection.name %></h3></li>
  
          <form method="GET" action="/collection/edit/<%= collection.id %>">
            <input id="create" type="submit" value="Edit this collection">
          </form>

          <ul>
            <% collection.cards.each do |card| %>
              <li>
                <% if card.species.common_name != nil %>
                  <a href="/species/<%=card.species.id%>"><%= card.species.common_name %></a>
                <% else %>
                  <a href="/species/<%=card.species.id%>"><%= card.species.scientific_name %></a>
                <% end %>
              </li>
            <% end %>
          </ul>
        
      <% end %>
    <% end %>
  </ul>
<hr>

<form method="POST" action="/collection/new">
  <input type="text" name="collection_name" placeholder="collection name">
  <input id="create-collection" type="submit" value="New Collection">
</form>
</div>