<div class="profile-container">
  <h3 class="collection-page-headline"><%= @user.first_name %>'s Collections</h3>
  
  <div class="collection-image"><img src="/image/blue-lion.png" alt=""></div>

  <div id="collection_list">
    <% unless @collections.nil? %>
      <% @collections.each do |collection| %>

        <li><h3><%= collection.name %></h3></li>
  
          <form method="GET" action="/collection/edit/<%= collection.id %>">

            <input id="create" type="submit" value="Edit this collection">
          </form>

            <% collection.cards.each do |card| %>
                <div class="collection-card">
                  <div id="<%= card.species.id %>"class="card">
                <% if card.species.common_name != nil %>
                
                  <a class="animal-card-in-collection" href="#"><h3><%= card.species.common_name.split(",")[0] %></h3>
                  <img src="<%= card.species.image_name %>"/></a>
                <% else %>
                  <a class="animal-card-in-collection" href="/species/<%=card.species.id%>"><h3><%= card.species.scientific_name %></h3></a>
                <% end %>
          </div>
            <% end %>
          </div>
      <% end %>
  <form method="POST" action="/collection/new">
    <input type="text" name="collection_name" placeholder="collection name">
    <input id="create-collection" type="submit" value="New Collection">
  </form>
  </div>
    <% end %>
 
<hr>

</div>