<div class="edit-collection"><div style="display: none;">
  <label for="user_id" >User Id</label >
  <input id="user_id" type="text"  name="collection[user_id]" value="<%= current_user.id %>">
</div>
<div>
  <form action="/collection/edit/<%= @collection.id %>" method="POST">
  	<label for="name">Collection Name</label>
  	<input id="name" type="text"  name="name" value="<%= @collection.try(:name) %>">
  	<input type="Submit" value="Submit" >
  </form>

  <form id="delete" action="/collection/delete/<%= @collection.id%>" method="POST">
    <input type="submit" value="Delete this Collection">
  </form>

  <% @collection.cards.each do |card| %>
   	<li>
	    <% if card.species.common_name != nil %>
	      <a href="/species/<%=card.species.id%>"><%= card.species.common_name %></a>
	    <% else %>
	      <a href="/species/<%=card.species.id%>"><%= card.species.scientific_name %></a>
	    <% end %>

		  <form action="/collection/<%= @collection.id %>cards/delete/<%= card.id %>" method="POST">
				<input type="hidden" value="DELETE" name="_method">
		   	<input type="submit" value="Delete this card">
		  </form>

    </li>
	<% end %>
</div>
</div>
