<div class="taxonomy">
  <a href="/kingdom/<%= @taxonomy["kingdom"] %>">
    <div class="kingdom tab">
      <%= @taxonomy["kingdom"].upcase %>
    </div>
  </a>
  <% if @taxonomy["phylum"] != nil %>
    <a href="/phylum/<%= @taxonomy["phylum"] %>">
      <div class="phylum tab">
        <%= @taxonomy["phylum"].upcase %>
      </div>
    </a>
    <% end %>
  <% if @taxonomy["class"] != nil %>
    <a href="/class/<%= @taxonomy["class"] %>">
      <div class="class tab">
        <%= @taxonomy["class"].upcase %>
      </div>
    </a>
  <% end %>
  <% if @taxonomy["order"] != nil %>
    <a href="/order/<%= @taxonomy["order"] %>">
      <div class="order tab">
        <%= @taxonomy["order"].upcase %>
      </div>
    </a>
  <% end %>
  <% if @taxonomy["family"] != nil %>
    <a href="/family/<%= @taxonomy["family"] %>">
      <div class="family tab">
        <%= @taxonomy["family"].upcase %>
      </div>
    </a>
  <% end %>
  <% if @taxonomy["genus"] != nil %>
    <a href="/genus/<%= @taxonomy["genus"] %>">
      <div class="genus tab">
        <%= @taxonomy["genus"].upcase %>
      </div>
    </a>
  <% end %>
</div>
