<img src="http:<%= @family.image_name %>" style="float: right"/>
<h2><%= @family.name %></h2><h3><em><%= @family.name %></em></h3>
<hr>
<h4>Genus of the Family - <%= @family.name %></h4>
<div class="children">
<%= erb :_children %>
</div>
