<div class="taxonomy">
  <a href="/kingdom/<%= @taxonomy["kingdom"] %>">
    <div class="kingdom tab">
      <%= @taxonomy["kingdom"].upcase %>
    </div>
  </a>
  <% if @taxonomy["phylum"] != nil %>
    <a href="/phylum/<%= @taxonomy["phylum"] %>">
      <div class="phylum tab">
        <%= @taxonomy["phylum"].upcase %>
      </div>
    </a>
    <% end %>
  <% if @taxonomy["class"] != nil %>
    <a href="/class/<%= @taxonomy["class"] %>">
      <div class="class tab">
        <%= @taxonomy["class"].upcase %>
      </div>
    </a>
  <% end %>
  <% if @taxonomy["order"] != nil %>
    <a href="/order/<%= @taxonomy["order"] %>">
      <div class="order tab">
        <%= @taxonomy["order"].upcase %>
      </div>
    </a>
  <% end %>
  <% if @taxonomy["family"] != nil %>
    <a href="/family/<%= @taxonomy["family"] %>">
      <div class="family tab">
        <%= @taxonomy["family"].upcase %>
      </div>
    </a>
  <% end %>
  <% if @taxonomy["genus"] != nil %>
    <a href="/genus/<%= @taxonomy["genus"] %>">
      <div class="genus tab">
        <%= @taxonomy["genus"].upcase %>
      </div>
    </a>
  <% end %>
</div>

<img src="<%= @wikiInfo[:img] %>" style="float: right" />
<h2><%= @species.common_name %></h2><h3><em><%= @species.scientific_name %></em></h3>
<ul>
  <li>Endangered Species Status: <%= @species.redListStatus %></li>
  <% if @species.population_trend != nil %>
    <li>Population Trends: <%= @species.population_trend %></li>
  <% end %>
</ul>
<%= @wikiInfo[:intro] %>
<hr>
<h4>Relatives from the Genus - <%= @species.genus.name %></h4>
<div class="relatives">
<% @relatives.each do |relative| %>
  <a href="<%= relative.id %>">
  <div class="card">
    <%= wikiImage(relative.scientific_name) %>
    <%= relative.common_name %>
  </div></a>
<% end %>
</div>
